USE [NeoquantEmployee]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 10/19/2020 01:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employees](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NAME] [varchar](20) NULL,
	[EMP_ADDRESS] [varchar](20) NULL,
	[JOINING_DATE] [date] NOT NULL,
	[SALARY] [varchar](50) NULL,
	[DEPARTMENT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[departments] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [EMP_NAME]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [EMP_ADDRESS]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [SALARY]
GO
